<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Graphics</string>
	<key>CFBundleIdentifier</key>
	<string>com.malamoo.Graphics</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Graphics</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSMainNibFile</key>
	<string>Application</string>
</dict>
</plist>
